/node_modules
/vendor
/public/build
/.git
/.github
/.vscode
/.idea
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
.env
.env.backup
.env.production
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
.phpunit.result.cache
tests/
